{% extends 'base.html' %}
{% block content %}

<h1> Darbinieka pievienošana</h1>
<br/><br/>
<form method="POST" action="{% url 'employee' %}">

    {% csrf_token %}

    <div class="mb-3">
        <label for="InputVards" class="form-label">Vards</label>
        <input type="text" class="form-control" id="InputVards"
               placeholder="Piemērs: John" name="vards" value="{{ vards }}" maxlength="15">
    </div>

    <div class="mb-3">
        <label for="InputUzvards" class="form-label">Uzvards</label>
        <input type="text" class="form-control" id="InputUzvards"
               placeholder="Piemērs: Smith" name="uzvards" value="{{ uzvards }}" maxlength="25">
    </div>

    <div class="mb-3">
        <label for="InputPK" class="form-label">Personas kods</label>
        <input type="text" class="form-control" id="InputPK"
               placeholder="Piemērs: 111111-11111" name="personas_kods" value="{{ personas_kods }}" maxlength="12"
               oninput="javascript: this.value = this.value.replace(/\D/g, '');
                    if (this.value.length > 6 && this.value.indexOf('-') === -1) {
                        this.value = this.value.slice(0, 6) + '-' + this.value.slice(6, 12);
                    }">
    </div>


    <div class="mb-3">
        <label for="InputAmats" class="form-label">Amats</label>
        <select class="form-control" id="InputAmats" name="amats" value="{{ amats }}">
            {% for item in nos %}
            <option value="{{ item.nosaukums }}">{{ item.nosaukums }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-3">
        <label for="InputTalrunis" class="form-label">Talrunis</label>
        <input type="text" pattern="\d*" class="form-control" id="InputTalrunis"
               placeholder="Piemērs: 22222222" name="talrunis"
               oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);
                    if (this.value.length === 1 && this.value[0] === '0') this.value = '';
                    this.value = this.value.replace(/[^0-9]/g, '');"
               value="{{ talrunis }}" maxlength="8">
    </div>


    <div class="mb-3">
        <label for="InputDD" class="form-label">Dzimšanas datums</label>
        <input type="date" class="form-control" id="InputDD"
               placeholder="Ievadiet darbinieka dzimšanas datumu" name="dz_datums" value="{{ dz_datums }}">
    </div>

    <div class="mb-3">
        <label for="InputUD" class="form-label">Darba uzsakšanas datums</label>
        <input type="date" class="form-control" id="InputUD"
               name="uzsak_datums" value="{{ uzsak_datums }}">
    </div>


    <div class="mb-3">
        <label for="InputPrasmes" class="form-label">Prasmes</label>
        <input type="text" class="form-control" id="InputPrasmes"
               placeholder="Piemērs: Prasme1, Prasme2" name="prasmes" value="{{ prasmes }}" maxlength="100">
    </div>

    <div class="mb-3">
        <label for="InputLogin" class="form-label">Login</label>
        <input type="text" class="form-control" id="InputLogin"
               placeholder="Piemērs: Login123" name="login" value="{{ login }}" maxlength="20">
    </div>

    <div class="mb-3">
        <label for="InputParole" class="form-label">Parole</label>
        <input type="text" class="form-control" id="InputParole"
               placeholder="Piemērs: Parole123!" name="parole" value="{{ parole }}" maxlength="25">
    </div>


    <br/>
    <button type="submit" class="btn btn-primary">Pievienot</button>
    <a href="{% url 'employee_base' %}" class="btn btn-secondary">Atgriezties</a>
</form>
{% endblock %}

