{% extends 'base.html' %}
{% block content %}

<h1>Darbinieka dati</h1>

<form method="POST" action="{% url 'save_employee' pk=employee.darb_ID %}?next={% url 'employee_base' %}">

    {% csrf_token %}
    <ul>
        <hr>
        <div class="mb-3">
            <label for="InputVards" class="form-label"><b>Vards</b></label>
            <input type="text" class="form-control" id="InputVards"
                   placeholder="Piemērs: John" name="vards" value={{ employee.vards }} maxlength="15">
        </div>
        <div class="mb-3">
            <label for="InputUzvards" class="form-label"><b>Uzvards</b></label>
            <input type="text" class="form-control" id="InputUzvards"
                   placeholder="Piemērs: Smith" name="uzvards" value={{ employee.uzvards }} maxlength="25">
        </div>
        <div class="mb-3">
            <label for="InputPK" class="form-label"><b>Personas kods</b></label>
            <input type="text" class="form-control" id="InputPK"
                   placeholder="Piemērs: 111111-11111" name="personas_kods" value={{ employee.personas_kods }}
                   oninput="javascript: this.value = this.value.replace(/\D/g, '');
                    if (this.value.length > 6) this.value = this.value.slice(0, 6) + '-' + this.value.slice(6, 12);">
        </div>
        <div class="mb-3">
            <label for="InputAmats" class="form-label"><b>Amats</b></label>
            <select class="form-control" id="InputAmats" name="amata_ID">
                {% for amats in real_amats %}
                {% if amats.amata_ID == employee.amata_ID_id %}
                <option value="{{ amats.amata_ID }}" selected>{{ amats.nosaukums }}</option>
                {% else %}
                <option value="{{ amats.amata_ID }}">{{ amats.nosaukums }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>


        <div class="mb-3">
            <label for="InputTalrunis" class="form-label"><b>Talrunis</b></label>
            <input type="text" pattern="\d*" class="form-control" id="InputTalrunis"
                   placeholder="Piemērs: 22222222" name="talrunis"
                   oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);
                    if (this.value.length === 1 && this.value[0] === '0') this.value = '';
                    this.value = this.value.replace(/[^0-9]/g, '');"
                   value="{{ employee.talrunis }}" maxlength="8">
        </div>


        <div class="mb-3">
            <label for="InputDD" class="form-label">Dzimšanas datums</label>
            <input type="date" class="form-control" id="InputDD"
                   placeholder="Ievadiet darbinieka dzimšanas datumu" name="dz_datums"
                   value="{{ employee.dz_datums|date:'Y-m-d' }}">

        </div>

        <div class="mb-3">
            <label for="InputUD" class="form-label">Darba uzsakšanas datums</label>
            <input type="date" class="form-control" id="InputUD"
                   name="uzsak_datums" value="{{ employee.uzsak_datums|date:'Y-m-d' }}">
        </div>


        <div class="mb-3">
            <label for="InputPrasmes" class="form-label">Prasmes</label>
            <input type="text" class="form-control" id="InputPrasmes"
                   placeholder="Piemērs: Prasme1, Prasme2" name="prasmes" maxlength="100"
                   value="{{ employee.prasmes }}">
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Saglabāt</button>
            <a href="{% url 'employee_base' %}" class="btn btn-secondary">Atcelt</a>
        </div>
    </ul>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.querySelector('form');
            if (form) {
                form.addEventListener('submit', function () {
                    window.location.href = "{% url 'employee_base' %}";
                });
            }
        });
    </script>

</form>
{% endblock %}
