{% extends 'base.html' %}
{% include 'navbar.html' %}
{% block content %}
<style>
    @media print {
        body {
            margin: 0;
            padding: 0;
            size: A4 portrait;
        }

        .print-container {
            width: 100%;
            max-width: 100%;
            margin: 0;
        }

        .btn {
        display: none !important; /* Скрываем все кнопки с классом .btn */
    }
}

/* Стили для текста "Paraksts" */
#signature {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 16px;
    color: black;
}

/* Стили для поля подписи */
#signature-field {
    position: fixed;
    bottom: 0;
    right: 20px;
    width: 200px;
    height: 50px;

}


    h1{
    text-align: center
    }

</style>

<h1>Print&Serviss </h1>

<br>
<strong style="font-size: 25px">{{ pakalpojums.nosaukums }}</strong>

<br><small>Remonta numurs: {{pakalpojums.r_numurs}} </small><br><br>

<strong>Klienta Dati</strong>

<div>
    <hr>
    <p>Klients : {{ pakalpojums.klients }}</p>
    <p>Klienta talrunis : {{ pakalpojums.k_talrunis}} </p>
    <p>Klienta e-pasts : {{ pakalpojums.k_epasts}}</p>
    <hr>
</div>
<br>

<strong>Pakalpojuma dati</strong>
<div>

    <hr>
    <p>Vieta : {{ pakalpojums.vieta }}</p>
    <p>Datums : {{ pakalpojums.datums|date:"Y-m-d" }} </p>
    <p>Laiks : {{ pakalpojums.laiks|date:"H:i:s.u" }}</p>
    <p>Situacijas apraksts: {{ pakalpojums.sit_aprakts }}</p>
    <hr>
</div>
<!-- Добавляем текст "Paraksts" -->
<div id="signature">Paraksts</div>

<!-- Добавляем поле для подписи -->
<div id="signature-field"></div>
<!-- Добавление кнопок "Izdrukat" и "Iziet" -->
<div class="btn-container">
    <a href="{% url 'print_service' pk=pakalpojums.pk %}" class="btn btn-primary" onclick="printPage()">Izdrukat</a>
    <a href="{% url 'service_base' %}" class="btn btn-secondary">Iziet</a>
</div>

<script>
    function printPage() {
        window.print();
    }
</script>

{% endblock %}
