{% extends 'base.html' %}

{% block content %}
<h1> Pakalpojuma pievienošana</h1>
<br/><br/>
<form method="POST" action="{% url 'service' %}">

    {% csrf_token %}

    <div class="mb-3">
        <label for="InputNosaukums" class="form-label">Nosaukums</label>
        <input type="text" class="form-control" id="InputNosaukums"
               placeholder="Piemērs: Pakalpojuma nosaukums" name="nosaukums" value="{{ nosaukums }}" maxlength="50">
    </div>

    <div class="mb-3">
        <label for="InputKlients" class="form-label">Klients</label>
        <input type="text" class="form-control" id="InputKlients"
               placeholder="Piemērs: Klienta vārds" name="klients" value="{{ klients }}" maxlength="50">
    </div>

    <div class="mb-3">
        <label for="InputKTalrunis" class="form-label">Klienta talrunis</label>
        <input type="text" pattern="\d*" class="form-control" id="InputKTalrunis"
               placeholder="Piemērs: 22222222" name="k_talrunis"
               oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);
                        if (this.value.length === 1 && this.value[0] === '0') this.value = '';
                        this.value = this.value.replace(/[^0-9]/g, '');"
               value="{{ k_talrunis }}" maxlength="8">
    </div>

    <div class="mb-3">
        <label for="InputKEpasts" class="form-label">Klienta e-pasts</label>
        <input type="email" class="form-control" id="InputKEpasts"
               placeholder="Piemērs: klienta@example.com" name="k_epasts" value="{{ k_epasts }}" maxlength="50">
    </div>

    <div class="mb-3">
        <label for="InputDatums" class="form-label">Datums</label>
        <input type="date" class="form-control" id="InputDatums"
               placeholder="Ievadiet pakalpojuma datumu" name="datums" value="{{ datums }}">
    </div>

    <div class="mb-3">
        <label for="InputLaiks" class="form-label">Laiks</label>
        <input type="time" class="form-control" id="InputLaiks" name="laiks" value="{{ laiks }}">
    </div>

    <div class="mb-3">
        <label for="InputVieta" class="form-label">Vieta</label>
        <input type="text" class="form-control" id="InputVieta"
               placeholder="Piemērs: Pakalpojuma vieta" name="vieta" value="{{ vieta }}" maxlength="40">
    </div>

    <div class="mb-3">
        <label for="InputSitAprakts" class="form-label">Sīkāks apraksts</label>
        <textarea class="form-control" id="InputSitAprakts" rows="4" name="sit_aprakts"
                  placeholder="Piemērs: Sīkāks apraksts par pakalpojumu">{{ sit_aprakts }}</textarea>
    </div>

    <div class="mb-3">
        <label for="InputDarbinieks" class="form-label">Darbinieks</label>
        <select class="form-select" id="InputDarbinieks" name="darb_ID">
            {% for darbinieks in darbinieki %}
            <option value="{{ darbinieks.darb_ID }}">{{ darbinieks.vards }} {{ darbinieks.uzvards }}</option>
            {% endfor %}
        </select>
    </div>

    <br/>
    <button type="submit" class="btn btn-primary">Pievienot</button>
    <a href="{% url 'service_base' %}" class="btn btn-secondary">Atgriezties</a>
</form>
{% endblock %}
