{% extends 'base.html' %}
{% block content %}

<style>
    .section-link {
        color: black;
        padding: 10px;
        margin: 5px;
        border-radius: 5px;
        text-decoration: none;
        display: inline-block;
        transition: background-color 0.3s;
    }

    .section-link.active {
        text-decoration: underline;
        font-weight: bold;
    }

    .card {
        margin-bottom: 20px;
        position: relative;
        border: solid light gray 0.5px;
        border-radius: 20px;
    }

    .delete-button {
        position: absolute;
        top: 0px;
        right: 8px;
    }

    .btn-group {
        position: absolute;
        top: 55px;
        right: 10px;
        display: flex;
        gap: 0 px;
    }

    .section-link:hover {
        background-color: #ff6f61;
        color: white;
    }

    .btn-group .btn {
        flex: 1;
        max-width: 100px;
    }

    body {
        background-color: #f5f5f5;
    }

    .container {
        margin-left: 100px;
    }
</style>

<div class="container mt-5">
    <h1 class="mb-4">Pakalpojumi</h1>
    <a href="{% url 'service_employee' %}" class="section-link {% if not status %}active{% endif %}">Visi</a>
    <a href="{% url 'service_employee_status' status='drizuma' %}"
       class="section-link {% if status == 'drizuma' %}active{% endif %}">Drīzumā</a>
    <a href="{% url 'service_employee_status' status='uzsaktie' %}"
       class="section-link {% if status == 'uzsaktie' %}active{% endif %}">Uzsaktie</a>
    <a href="{% url 'service_employee_status' status='nokaveti' %}"
       class="section-link {% if status == 'nokaveti' %}active{% endif %}">Nokavēti</a>
    <a href="{% url 'service_employee_status' status='pabeigti' %}"
       class="section-link {% if status == 'pabeigti' %}active{% endif %}">Pabeigti</a>
    <a href="{% url 'service_employee_status' status='atsauksmes' %}"
       class="section-link {% if status == 'atsauksmes' %}active{% endif %}">Atsauksmes</a>

    {% regroup employee_services by datums|date:"Y-m-d" as grouped_items %}

    {% for date_group in grouped_items|dictsortreversed:"grouper" %}
    <p style="margin-left: 10px; margin-top: 5px; font-size: 27px">{{ date_group.grouper }}</p>
    {% for item in date_group.list %}
    <div class="card">
        <div class="card-body d-flex justify-content-between align-items-center">
            <div>
                <h5 class="card-title">
                    {% if item.status is null %}
                    {{ item.nosaukums }}
                    <p style="font-size: 17px">{{ item.vieta }}</p>
                    {% else %}
                    {{ item.nosaukums }}
                    <p style="font-size: 17px">{{ item.vieta }}</p>
                    <a href="{% url 'service_employee_detail' pk=item.pak_ID %}">Detalizēt</a>
                    {% endif %}
                </h5>
                <p class="card-text"> [{{ item.laiks }}] <br>
                    {{ item.klients }} [{{ item.k_talrunis }}]
                </p>
            </div>
            <!-- Добавленная кнопка -->
            {% if item.status is None %}
            <div class="btn-group">
                <button class="btn btn-primary" onclick="changeStatus({{ item.pak_ID }})">Uzsākt</button>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    {% endfor %}
</div>

<!-- Ваш сценарий изменения статуса -->
<script>
    function changeStatus(pakID) {
        // Создайте объект FormData для отправки данных формы
        var formData = new FormData();
        formData.append('pak_ID', pakID);

        // Выполняем AJAX-запрос для изменения статуса
        fetch('/change_status/', {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
        .then(response => response.json())
        .then(data => {
            console.log(data);
            // Дополнительные действия при успешном изменении статуса
            // Например, перезагрузка страницы или обновление интерфейса
            if (data.success) {
                location.reload();
            } else {
                console.error(data.error);
                // Обработка ошибок
            }
        })
        .catch(error => {
            console.error(error);
            // Обработка ошибок
        });
    }
</script>
{% endblock %}
