{% extends 'base.html' %}
{% load static %}
from .utils import get_latvian_month
{% block content %}
{% include 'navbar.html' %}
<style>
    .section-link {
        color: black;
        padding: 10px;
        margin: 5px;
        border-radius: 5px;
        text-decoration: none;
        display: inline-block;
        transition: background-color 0.3s;
    }

    .section-link.active {
        text-decoration: underline;
        font-weight: bold;
    }

    .card {
        margin-bottom: 20px;
        position: relative;
        border: solid light gray 0.5px;
        border-radius: 20px;
    }

    .delete-button {
        position: absolute;
        top: 0px;
        right: 8px;
    }

    .btn-group {
        position: absolute;
        top: 100px;
        right: 5px;
        display: flex;
        gap: 0 px;
    }

    .section-link:hover {
        background-color: #ff6f61;
        color: white;
    }

    .btn-group .btn {
        flex: 1;
        max-width: 100px;
    }

    body {
        background-color: #f5f5f5;
    }

    .container {
        margin-left: 100px;
    }
</style>

<div class="container mt-5" style="">
    <h1 class="mb-4">Pakalpojumi <a href="{% url 'service' %}" class="btn btn-primary"><i class="fas fa-plus"></i>
        Pievienot</a>
    </h1>
    <a href="{% url 'service_base' %}" class="section-link {% if not status %}active{% endif %}">Visi</a>
    <a href="{% url 'service_base_status' status='drizuma' %}"
       class="section-link {% if status == 'drizuma' %}active{% endif %}">Drīzumā</a>
    <a href="{% url 'service_base_status' status='nokaveti' %}"
       class="section-link {% if status == 'nokaveti' %}active{% endif %}">Nokavēti</a>
    <a href="{% url 'service_base_status' status='pabeigti' %}"
       class="section-link {% if status == 'pabeigti' %}active{% endif %}">Pabeigti</a>

    {% regroup all|dictsortreversed:"datums" by datums|date:"Y-m-d" as grouped_items %}

    {% for date_group in grouped_items %}

    <p style="margin-left: 10px; margin-top: 5px;font-size: 27px">{{ date_group.grouper }}</p>

    {% for item in date_group.list %}
    <div class="card">
        <div class="card-body d-flex justify-content-between align-items-center">
            <div>
                <h5 class="card-title">
                    <a href="{% url 'service_detail' pk=item.pak_ID %}"
                       style="text-decoration: none; color: black;font-size: 21px">
                        {{ item.nosaukums }}
                        <i class="fas fa-edit fa-xs" style="color: #007bff;"></i>
                        <p style="font-size: 17px">{{ item.vieta }}</p>
                    </a>
                </h5>
                <p class="card-text"> [{{ item.laiks }}] <br>
                    {{ item.klients }} [{{ item.k_talrunis }}]
                </p>
            </div>
            <div class="btn-group">
                <a href="{% url 'print_service' pk=item.pak_ID %}" class="btn btn-primary btn-sm me-2">
                    Izdrūkat
                </a>
                <button class="btn btn-danger btn-sm delete-button" data-bs-toggle="modal"
                        data-bs-target="#deleteConfirmation{{ item.pak_ID }}">
                    Dzēst
                </button>
                <div class="modal fade" id="deleteConfirmation{{ item.pak_ID }}" tabindex="-1" role="dialog"
                     aria-labelledby="deleteConfirmationLabel{{ item.pak_ID }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteConfirmationLabel{{ item.pak_ID }}">Dzēšanas
                                    apstiprinājums</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Aizvērt"></button>
                            </div>
                            <div class="modal-body">
                                Vai tiešām vēlaties dzēst pakalpojumu: {{ item.nosaukums }} - {{ item.klients }}?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Atcelt</button>
                                <form method="POST" action="{% url 'service_delete' pk=item.pak_ID %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">Dzēst</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endfor %}
</div>
<script>
    const today = new Date('{{ today|date:"Y-m-d" }}');
    const startOfWeek = new Date('{{ start_of_week|date:"Y-m-d" }}');
    const endOfWeek = new Date('{{ end_of_week|date:"Y-m-d" }}');
    const startOfMonth = new Date('{{ start_of_month|date:"Y-m-d" }}');
    const endOfMonth = new Date('{{ end_of_month|date:"Y-m-d" }}');

    const monthLabel = document.getElementById('month-label');
    const weekLabel = document.getElementById('week-label');
    const todayLabel = document.getElementById('today-label');

    if (today >= startOfMonth && today <= endOfMonth) {
        monthLabel.textContent = 'Šīs menesis';
    }

    if (today >= startOfWeek && today <= endOfWeek) {
        weekLabel.textContent = 'šī nedeļa';
    }

    todayLabel.textContent = 'šodien';
</script>
{% endblock %}