{% extends 'base.html' %}
{% block content %}

<h1>Sniegta pakalpojuma informācija</h1>
<br>
<strong style="font-size: 25px">{{ pakalpojums.nosaukums }}</strong>

<br><br>

<strong>Klienta Dati</strong>
<div>
    <hr>
    <p>Klients : {{ pakalpojums.klients }}</p>
    <p>Klienta talrunis : {{ pakalpojums.k_talrunis}} </p>
    <p>Klienta e-pasts : {{ pakalpojums.k_epasts}}</p>
    <hr>
</div>
<br><br>

<div>
    <strong>Pakalpojuma dati</strong>
    <hr>
    <p>Vieta : {{ pakalpojums.vieta }}</p>
    <p>Datums : {{ pakalpojums.datums }} </p>
    <p>Laiks : {{ pakalpojums.laiks }}</p>
    <p>Situacijas aprakst: {{ pakalpojums.sit_aprakts }}</p>
    <hr>
</div>
<br><br>

<form method="POST" action="{% url 'infosave' %}">
    {% csrf_token %}

    <label for="darb_kval">Darb Kval:</label>
    <div class="stars" id="darb_kval_stars" onclick="rateStar('darb_kval')">
        <i class="fas fa-star" id="darb_kval_star1"></i>
        <i class="fas fa-star" id="darb_kval_star2"></i>
        <i class="fas fa-star" id="darb_kval_star3"></i>
        <i class="fas fa-star" id="darb_kval_star4"></i>
        <i class="fas fa-star" id="darb_kval_star5"></i>
    </div>
    <input type="hidden" name="darb_kval" id="darb_kval" value="0">

    <br>
    <label for="darb_atrums">Darb Atrums:</label>
    <input type="text" name="darb_atrums" id="darb_atrums" required>

    <br>
    <label for="apkalposanas_lim">Apkalpošanas Limits:</label>
    <input type="text" name="apkalposanas_lim" id="apkalposanas_lim" required>

    <br>
    <label for="ats_apraksts">Ats Apraksts:</label>
    <textarea name="ats_apraksts" id="ats_apraksts" maxlength="150" required></textarea>
    <br>
    <button type="submit">Saglabat</button>
</form>

<button type="button" onclick="iziet()">Iziet</button>

{% endblock %}
