{% extends 'base.html' %}

{% block content %}
<style>
    body {
        background-color: #f8f9fa;
    }

    h1 {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    form {
        width: 300px;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        padding: 30px;
    }

    .form-control {
        border-radius: 10px;
        margin-bottom: 15px;
        padding: 10px;
        width: 100%;
        border: 1px solid #ced4da;
    }

    button {
        width: 100%;
        background-color: #007bff;
        border-color: #007bff;
        border-radius: 10px;
        color: #fff;
        padding: 10px;
        cursor: pointer;
    }

    button:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }
</style>

<h1>Login</h1>
<br><br>
<form method="POST" action="{% url 'user_login' %}">
    {% csrf_token %}
    <input type="text" name="r_numurs" placeholder="Remonta numurs" class="form-control mb-3">
    <input type="password" name="k_parole" placeholder="Klienta parole" class="form-control mb-3">
    <button type="submit">Login</button>
</form>
{% endblock %}
