{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}
<h1 style="margin-left:6.3%">Pakalpojuma rediģešana</h1>
<br/>
<form method="POST" action="{% url 'save_service' pk=service.pak_ID %}?next={% url 'service_base' %}">

    {% csrf_token %}
    <div style="padding: 3%; margin-left: 3.2%; margin-right: 5%">
        <div class="mb-3 row">
            <div class="col-md-4" id="NosaukumaField">
                <label for="InputNosaukums" class="form-label"><b>Ierices nosaukums</b></label>
                <input type="text" class="form-control" id="InputNosaukums"
                       placeholder="Piemērs: Pakalpojuma nosaukums" name="nosaukums" value="{{ service.nosaukums }}"
                       maxlength="50"
                       required>
            </div>


            <div class="col-md-4" id="pakalpojumaTipsField">

                <label for="InputPaktip" class="form-label"><b>Pakalpokjuma tips</b></label>
                <select class="form-select" id="InputPaktip" name="paktip_ID">
                    {% for paktip in paktip %}
                    {% if paktip == selected_paktip %}
                    <option value="{{ paktip.paktip_ID }}" selected>{{ paktip.nosaukums }}</option>
                    {% else %}
                    <option value="{{ paktip.paktip_ID }}">{{ paktip.nosaukums }}</option>
                    {% endif %}
                    {% endfor %}


                </select>
            </div>
            <div class="col-md-4" id="serijasNumursField">
                <label for="InputSerNr" class="form-label"><b>Serijas numurs</b></label>
                <input type="text" class="form-control" id="InputSerNr"
                       placeholder="Ievadiet serijas numuru" name="serija_nr" value="{{ service.serija_nr }}"
                       maxlength="30">
            </div>

        </div>

        <div class="mb-3 row">
            <div class="col-md-4" id="klientsField">
                <label for="InputKlients" class="form-label"><b>Klients</b></label>
                <input type="text" class="form-control" id="InputKlients"
                       placeholder="Piemērs: Klienta vārds" name="klients" value="{{ service.klients }}" maxlength="50">
            </div>

            <div class="col-md-4" id="klientaTalrunisField">
                <label for="InputTalrunis" class="form-label"><b>Tālrunis</b></label>
                <input type="text" pattern="\d*" class="form-control" id="InputTalrunis"
                       placeholder="Piemērs: 22222222" name="k_talrunis"
                       oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);
                    if (this.value.length === 1 && this.value[0] === '0') this.value = '';
                    this.value = this.value.replace(/[^0-9]/g, '');"
                       value="{{ service.k_talrunis }}" maxlength="8">
            </div>

            <div class="col-md-4" id="klientaEpastsField">
                <label for="InputEpasts" class="form-label"><b>E-pasts</b></label>
                {% if service.k_epasts %}
                <input type="email" class="form-control" id="InputEpasts"
                       placeholder="Piemērs: klienta@epasts.com" name="k_epasts" value="{{ service.k_epasts }}"
                       maxlength="50">
                {% else %}
                <input type="email" class="form-control" id="InputEpasts"
                       placeholder="Piemērs: klienta@epasts.com" name="k_epasts" value=""
                       maxlength="50">
                {% endif %}
            </div>
        </div>


        <div class="mb-3 row">
            <div class="col-md-4" id="datumsField">
                <label for="InputDatums" class="form-label"><b>Datums</b></label>
                <input type="date" class="form-control" id="InputDatums"
                       name="datums" value="{{ service.datums|date:'Y-m-d' }}">
            </div>
            <script>
                // Получаем текущую дату
                var today = new Date();

                // Форматируем текущую дату в формате YYYY-MM-DD (требуемый для атрибута min)
                var yyyy = today.getFullYear();
                var mm = String(today.getMonth() + 1).padStart(2, '0'); // добавляем ноль в начало, если месяц < 10
                var dd = String(today.getDate()).padStart(2, '0'); // добавляем ноль в начало, если день < 10
                var minDate = yyyy + '-' + mm + '-' + dd;

                // Устанавливаем атрибут min для соответствующего input
                document.getElementById("InputDatums").setAttribute("min", minDate);
            </script>

            <div class="col-md-4" id="darbinieksNumursField">
                <label for="InputDarbinieks" class="form-label"><b>Darbinieks</b></label>
                <select class="form-select" id="InputDarbinieks" name="darb_ID">
                    {% for darbinieks in darbinieki %}
                    {% if darbinieks == selected_darbinieks %}
                    <option value="{{ darbinieks.darb_ID }}" selected>{{ darbinieks.vards }} {{ darbinieks.uzvards }}
                    </option>
                    {% else %}
                    <option value="{{ darbinieks.darb_ID }}">{{ darbinieks.vards }} {{ darbinieks.uzvards }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>


        </div>

        <div class="mb-3 row">
            <div class="col-md-4" id="vietaField">
                <label for="InputVieta" class="form-label"><b>Pakalpojuma sniegšanas adrese</b></label>
                <input type="text" class="form-control" id="InputVieta"
                       placeholder="Piemērs: Servisa vieta" name="vieta" value="{{ service.vieta }}" maxlength="40">
            </div>

            <div class="col-md-4" id="laiksField">
                <label for="InputLaiks" class="form-label"><b>Laiks</b></label>
                <input type="time" class="form-control" id="InputLaiks"
                       name="laiks" value="{{ service.laiks|time:'H:i' }}" step="1800">
            </div>
        </div>


        <div class="mb-3" id="komplektacijaField">
            <label for="InputSitAprakts" class="form-label">Komplektācija</label>
            <textarea class="form-control" id="InputSitAprakts" rows="2" cols="50" name="komplektacija" maxlength="300"
                      placeholder="Ievadiet saņemtu komplektāciju">{{ service.komplektacija }}</textarea>
        </div>

        <div class="mb-3" id="sitAprakstsField">
            <label for="InputSitApraksts" class="form-label"><b>Bojājumu apraksts</b></label>
            <textarea class="form-control" id="InputSitApraksts" rows="3"
                      placeholder="Piemērs: Detalizēts situācijas apraksts" name="sit_aprakts"
                      maxlength="300">{{ service.sit_aprakts }}</textarea>
        </div>


        <div class="mb-3">
            <button type="submit" class="btn btn-primary" style="background-color:#EC4138; border: 1px solid black">
                Saglabāt
            </button>
            <a href="{% url 'service_base' %}" class="btn btn-secondary">Atcelt</a>
        </div>

    </div>
    {% if errors %}
    <div class="alert alert-danger" role="alert">
        <strong>Kļūda!</strong> Pārbaudiet ievadītos datus:
        <ul>
            {% for field, error_list in errors.items %}
            {% for error in error_list %}
            <li>{{ field }}: {{ error }}</li>
            {% endfor %}
            {% endfor %}
        </ul>
    </div>


    {% endif %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.querySelector('form');
            if (form) {
                form.addEventListener('submit', function () {
                    window.location.href = "{% url 'service_base' %}";
                });
            }
        });
    </script>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<script>
    $(document).ready(function() {

     $('#InputPaktip').change(function() {
    console.log("Dropdown value changed to: ", $(this).val());
    console.log("Serijas numurs field:", $('#serijasNumursField'));
         var selectedPaktip = $(this).val();
         if(selectedPaktip == 1) {

             $('#serijasNumursField').css('display', 'block');
             $('#komplektacijaField').css('display', 'block');// To show the field
             $('#laiksField').hide();
             $('#vietaField').hide();
            // Делаем AJAX-запрос для получения отфильтрованных darbinieki
            $.ajax({
    url: 'get_darbinieki', // URL для вашего представления
    data: {
        selected_paktip_id: selectedPaktip // Используйте selected_paktip_id вместо paktip_ID
    },
    dataType: 'json',
    success: function(response) {
        var darbinieki = response.darbinieki;

        // Очищаем предыдущие опции
        $('#InputDarbinieks').empty();

        // Заполняем элемент select новыми опциями
        $.each(darbinieki, function(index, darbinieks) {
            $('#InputDarbinieks').append('<option value="' + darbinieks.darb_ID + '">' + darbinieks.vards + ' ' + darbinieks.uzvards + '</option>');
        });
    },
    error: function(xhr, status, error) {
        console.error(error);
    }
});
            }
         else if(selectedPaktip == 2 ){
             $('#serijasNumursField').css('display', 'block');
             $('#komplektacijaField').css('display', 'block');// To show the field
             $('#laiksField').hide();
             $('#vietaField').hide();
             $.ajax({
    url: 'get_darbinieki', // URL для вашего представления
    data: {
        selected_paktip_id: selectedPaktip // Используйте selected_paktip_id вместо paktip_ID
    },
    dataType: 'json',
    success: function(response) {
        var darbinieki = response.darbinieki;

        // Очищаем предыдущие опции
        $('#InputDarbinieks').empty();

        // Заполняем элемент select новыми опциями
        $.each(darbinieki, function(index, darbinieks) {
            $('#InputDarbinieks').append('<option value="' + darbinieks.darb_ID + '">' + darbinieks.vards + ' ' + darbinieks.uzvards + '</option>');
        });
    },
    error: function(xhr, status, error) {
        console.error(error);
    }
});
         }
         else if(selectedPaktip == 3 ){
             $('#serijasNumursField').css('display', 'block');
             $('#komplektacijaField').css('display', 'block');// To show the field
             $('#laiksField').hide();
             $('#vietaField').hide();
             $.ajax({
    url: 'get_darbinieki', // URL для вашего представления
    data: {
        selected_paktip_id: selectedPaktip // Используйте selected_paktip_id вместо paktip_ID
    },
    dataType: 'json',
    success: function(response) {
        var darbinieki = response.darbinieki;

        // Очищаем предыдущие опции
        $('#InputDarbinieks').empty();

        // Заполняем элемент select новыми опциями
        $.each(darbinieki, function(index, darbinieks) {
            $('#InputDarbinieks').append('<option value="' + darbinieks.darb_ID + '">' + darbinieks.vards + ' ' + darbinieks.uzvards + '</option>');
        });
    },
    error: function(xhr, status, error) {
        console.error(error);
    }
});
         }

         else if(selectedPaktip == 5 ){
             $('#serijasNumursField').css('display', 'block');
             $('#komplektacijaField').css('display', 'block');// To show the field
             $('#laiksField').hide();
             $('#vietaField').hide();
             $.ajax({
    url: 'get_darbinieki', // URL для вашего представления
    data: {
        selected_paktip_id: selectedPaktip // Используйте selected_paktip_id вместо paktip_ID
    },
    dataType: 'json',
    success: function(response) {
        var darbinieki = response.darbinieki;

        // Очищаем предыдущие опции
        $('#InputDarbinieks').empty();

        // Заполняем элемент select новыми опциями
        $.each(darbinieki, function(index, darbinieks) {
            $('#InputDarbinieks').append('<option value="' + darbinieks.darb_ID + '">' + darbinieks.vards + ' ' + darbinieks.uzvards + '</option>');
        });
    },
    error: function(xhr, status, error) {
        console.error(error);
    }
});
         }
         else if (selectedPaktip == 4) {
             $('#serijasNumursField').hide();
             $('#komplektacijaField').hide();
             $('#laiksField').show();
             $('#vietaField').show();
             $.ajax({
    url: 'get_darbinieki', // URL для вашего представления
    data: {
        selected_paktip_id: selectedPaktip // Используйте selected_paktip_id вместо paktip_ID
    },
    dataType: 'json',
    success: function(response) {
        var darbinieki = response.darbinieki;

        // Очищаем предыдущие опции
        $('#InputDarbinieks').empty();

        // Заполняем элемент select новыми опциями
        $.each(darbinieki, function(index, darbinieks) {
            $('#InputDarbinieks').append('<option value="' + darbinieks.darb_ID + '">' + darbinieks.vards + ' ' + darbinieks.uzvards + '</option>');
        });
    },
    error: function(xhr, status, error) {
        console.error(error);
    }
});

         }
     });

     // Trigger change event on page load to initially hide/show the field based on the default selected value
     $('#InputPaktip').change();
 });

      $(document).ready(function() {
         // Обработчик отправки формы
         $('form').submit(function(event) {
             // Находим все обязательные поля и удаляем у них атрибут required перед отправкой формы
             $(this).find('[required]').removeAttr('required');
         });
     });
</script>

{% endblock %}

