{% extends 'base.html' %}

{% block content %}
<h1>Login</h1>
<br><br>
<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}


    <div class="mb-3">
        <label for="username" class="form-label">Login</label>
        <input type="text" class="form-control" name="username" id="username" aria-describedby="emailHelp">

    </div>

    <div class="mb-3">
        <label for="userpass" class="form-label">Parole</label>
        <input type="password" class="form-control" name="userpass" id="userpass">
    </div>


    <button type="submit" class="btn btn-primary">Pieslegties</button>
</form>


{% endblock %}